.landing-page__heading {
  color: rgb(240, 238, 236);
  font-size: 36px;
  margin: 0 auto 24px;
  font-weight: 100;
  line-height: 1.4;
}
.landing-page__container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.landing-page__text-logo {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}
.landing-page__discription {
  color: rgb(255, 255, 255);
  font-size: 18px;
  line-height: 1.8;
  text-align: center;
  max-width: 40rem;
  margin: 0 auto;
  font-weight: 200;
}

.Landing__documentation-link > p {
  display: inline-block;
  color: rgb(250, 249, 248);
  font: 24px "Avenir", Arial, sans-serif;
  margin: 0 20px 0 0;
}
.landing-page__docs-link {
  text-transform: uppercase;
  border-radius: 60px;
  padding: 0 44px;
  background: #fde047;
  font-size: 16px;
  color: black;
  line-height: 3.8;
  border: none;
  font-weight: 500;
}
