@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css');



:root {
  --primary: #5b3ff9;
  --secondary: #5e564c;
  --dark: #1c1b19;
  --gray: #999999;
  --success: #6bd098;
  --info: #2ba9cd;
  --warning: #fbc658;
  --danger: #f5593d;
  --muted: #949494;
  --light: #f4f5f6;
  --white: #ffffff;
}

.text-primary {
  color: var(--primary);
}
.text-secondary {
  color: var(--secondary);
}
.text-dark {
  color: var(--dark);
}
.text-gray {
  color: var(--gray);
}
.text-success {
  color: var(--success);
}
.text-info {
  color: var(--info);
}
.text-warning {
  color: (var(--warning));
}
.text-danger {
  color: var(--danger);
}
.text-muted {
  color: var(--muted);
}
.text-light {
  color: var(--light);
}
.text-white {
  color: var(--white);
}

.bg-primary {
  background-color: var(--primary) !important;
}

.bg-secondary {
  background-color: var(--secondary) !important;
}

.bg-success {
  background-color: var(--success) !important;
}

.bg-info {
  background-color: var(--info) !important;
}

.bg-warning {
  background-color: var(--warning) !important;
}

.bg-danger {
  background-color: var(--danger) !important;
}

.bg-light {
  background-color: var(--light) !important;
}

.bg-dark {
  background-color: var(--dark) !important;
}

.bg-gray {
  background-color: var(--gray) !important;
}

.bg-white {
  background-color: var(--white) !important;
}
.bg-muted {
  background-color: var(--muted) !important;
}

.bg-transparent {
  background-color: transparent !important;
}
.rounded-pill {
  border-radius: 50rem !important;
}

.rounded-top {
  border-top-left-radius: 0.25rem !important;
  border-top-right-radius: 0.25rem !important;
}

.rounded-end {
  border-top-right-radius: 0.25rem !important;
  border-bottom-right-radius: 0.25rem !important;
}

.rounded-bottom {
  border-bottom-right-radius: 0.25rem !important;
  border-bottom-left-radius: 0.25rem !important;
}

.rounded-start {
  border-bottom-left-radius: 0.25rem !important;
  border-top-left-radius: 0.25rem !important;
}

/* Alerts CSS ************************************************************************************************************** */

.alert-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  height: 20rem;
  width: 40vw;
}

.alert {
  position: relative;
  padding: 1rem 2rem;
  margin-bottom: 1rem;
  border-radius: 1rem;
  width:100%;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.alert i {
  margin-right: 5px;
}

.alert-success {
  color: var(--white);
  border: 1px solid var(--success);
  background: var(--success);
}
.alert-danger {
  color: var(--white);
  border: 1px solid var(--danger);
  background: var(--danger);
}

.alert-warning {
  color: var(--white);
  border: 1px solid var(--warning);
  background: var(--warning);
}
.alert-info {
  color: var(--white);
  border: 1px solid var(--info);
  background: var(--info);
}
