.header__container {
  display: flex;
  flex-direction: column;
  padding: 3rem;
}

.header__links {
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  gap: 0.5rem;
}
.social {
  color: rgb(253, 244, 209);
  cursor: pointer;
  text-decoration: none;
  font-size: 14px;
}

.social:hover {
  color: rgb(255, 255, 255);
  cursor: pointer;
  text-decoration: none;
}
