
.Navbar__container{
    display:flex;
    flex-direction: column;
    /* justify-content: space-evenly; */
    align-items: center;
    height: 100vh;
    
}
.logo{
  justify-content: flex-start;
  align-self: center;
  padding: 2rem 0 0 0;
}
.side-nav__list{
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 4rem 0 0 0;
}
.side-nav__link {
  text-decoration: none;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px 25px;
  text-decoration: none;
  font-weight: 400;
  border-radius: 5px;
  color: whitesmoke;
  margin: 5px;
}