.Navbar__container {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100vh;
}
.logo {
  justify-content: flex-start;
  align-self: center;
  padding: 2rem;
}
.side-nav__list {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  width: 100%;
}
.side-nav__link {
  text-decoration: none;
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  color: whitesmoke;
  font: 24px 'Avenir', Arial, sans-serif;;
  line-height: 2.5;
  padding-left: 3.5rem;
}
.nav-icon {
   margin-right: 1rem;
}
.activeLink {
  font-weight: 400;
}
.activeLink__home {
  color: #fde047;
  border-left: 4px solid #fde047;
}
.activeLink__docs {
  color: #01b7ee;
  border-left: 4px solid #01b7ee;
}
.activeLink__about-me {
  color: darkgoldenrod;
  border-left: 4px solid darkgoldenrod;
}
