body {
  background: black;
}

.view {
  display: flex;
  height: 100vh;
}
.Navbar {
  flex-grow: 1;
  background: darkcyan;
}

.App {
  display: flex;
  flex-direction: column;
  flex-grow: 3;
  padding: 2rem;
}
