body {
  background: #000;
}

.view {
  display: flex;
  height: 100vh;
}
.Navbar {
  flex-grow: 0.75;
  border-right: 0.2rem solid rgb(197, 195, 195);
  width: 12vw;
  flex-shrink: 2;
}

.App {
  display: flex;
  flex-direction: column;
  flex-grow: 3;
  padding: 2rem;
  /* flex-shrink: 1; */
}