body {
  background: #000;
}

.view {
  display: flex;
  height: 100vh;
}
.Navbar {
  flex-grow: 1;
  border-right: 1rem solid rgb(197, 195, 195);
}

.App {
  display: flex;
  flex-direction: column;
  flex-grow: 3;
  padding: 2rem;
}
.main {
  display: flex;
  justify-content: center;
}
